<!DOCTYPE html>
 {% extends "base.html" %}

 <head><meta name="viewport" content="width=1020"/>  </head>


{% block sidenav %}

 <li><a href="../">Home</a></li>
 
 {% endblock sidenav %}

{% block content %}
 
<div class="branch0">  
    <div class="branch1">
     <div class="branch2">Past &nbsp;</div> <div class="branch3"><span>Services</span>
     </div>
    </div>

<aside>
<div class="gomz2">
    <h4>Imvuselelo eBulwer(Okhalweni) </h4>
    <div class="goms-video-area mb-100">
       <iframe src="https://drive.google.com/file/d/1-HvDY4JUaCefdhfN3HTMinKpbGiqanFp/preview" width="320" height="240" allow="autoplay"></iframe>
    </div>
</div>
</aside>


<aside>
    <div class="gomz3">
        <h4>Imvuselelo eBulwer(EShap) </h4>
        <div class="goms-video-area mb-100">
           <iframe src="https://drive.google.com/file/d/1-HvDY4JUaCefdhfN3HTMinKpbGiqanFp/preview" width="320" height="240" allow="autoplay"></iframe>
        </div>
    </div>
    </aside>

    <aside>
        <div class="gomz4">
            <h4>Imvuselelo eBulwer(Okhalweni) </h4>
            <div class="goms-video-area mb-100">
               <iframe src="https://drive.google.com/file/d/1-HvDY4JUaCefdhfN3HTMinKpbGiqanFp/preview" width="320" height="240" allow="autoplay"></iframe>
            </div>
        </div>
        </aside>    
 {% endblock content %}

